head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  script(src="/javascripts/jquery-2.2.3.min.js")
  script(src="/angular/angular.js")
  script(src="/javascripts/custom.js")
  script(src="/javascripts/color_animation.js")
  script(src="/bootstrap/dist/js/bootstrap.min.js")
  script(src="/javascripts/angular_app/registration.js")
